/* ***** General rules ***** */
* {
	margin: 0;
	box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    padding: 20px;
}

/* ***** Specific rules ***** */
.homeCardbox {
    min-height: 230px;
}
